name: RedBus Scraper

on:

  schedule:
    - cron: "0 2 * * *"   # Runs daily at 7:30 AM IST

  workflow_dispatch:


jobs:
  scrape:

    runs-on: ubuntu-latest

    steps:

      - name: Checkout repo
        uses: actions/checkout@v4


      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"


      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          playwright install chrome


      - name: Run scraper
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
        run: |
          python fill_rate_automation.py
