name: RedBus Daily Scraper

on:
  schedule:
    - cron: "0 2 * * *"   # Runs daily at 2 AM UTC (7:30 AM IST)

  workflow_dispatch:      # allows manual run

jobs:
  scrape:

    runs-on: ubuntu-latest

    steps:

    - name: Checkout repository
      uses: actions/checkout@v4


    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"


    - name: Install dependencies
      run: |
        pip install pandas playwright asyncpg
        playwright install chrome


    - name: Run scraper
      env:
        DATABASE_URL: ${{ secrets.DATABASE_URL }}
      run: |
        python app.py
